/* .navbar{
position: fixed;
width: 100%;
height: 50px;
background: rgba( 0, 0, 0, 0.8 );



} */
/* Navbar.css */
.navbar {
    /* background-color: #1da1f2; */
    color: #fff;
    height: 100%;
    width: 400px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    
  }
  
  .logo img {
    margin-top: 0rem;
    width: 100px;
    height: auto;
    margin-bottom: 50px;
  }
  
  .search-box {
    display: flex;
    align-items: center;
    background-color:#AAB8C2;
    border-radius: 25px;
    padding: 8px 16px;
    margin-bottom: 20px;
  }
  
  .search-box input {
    flex: 1;
    border: none;
    background: none;
    outline: none;
    font-size: 16px;
    padding: 0 8px;
    
  }
  .search-box input::placeholder{
    color: #292c2f;
  }
  
  .search-icon {
    font-size: 20px;
    color: #1da1f2;
  }
  
  .nav-items {
    display: flex;
    flex-direction: column;
  }
  
  .nav-item {
    display: flex;
    align-items: center;
    padding: 8px;
    cursor: pointer;
    margin-top: 1.5rem;
    border-radius: 50px;
  }
  
  .nav-item span {
    margin-left: 10px;
  }
  
  /* Styling for active item */
  .nav-item.active {
    background-color: #1DA1F2;
    color: #fff;
  }
  
  .general{
    font-size: 0.75rem;
    color: #b8b8b8;
  }
  